AWS_Default_Region=us-east-2
AWS_ACCESS_KEY_ID=YOURACCESSKEYID
AWS_SECRET_ACCESS_KEY=YOURSECRETACCESSKEY
KOPS_STATE_BUCKETNAME=YOURBUCKETNAME
CLOUD_PRIVATE_DNS=dev.cloud.internal.mattermost.com
CLOUD_PRIVATE_ROUTE53_ID=private-route53-id
CLOUD_PUBLIC_ROUTE53_ID=<public-route53-id>
CLOUD_CERTIFICATE_AWS_ARN=certifcate-aws-arn